<!DOCTYPE html>
<html>
<head>
    <title>ElHAIBA GPT</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="/static/d.png" alt="Logo">
            <span class="logo-text">ElHaibaGPT</span>

        </div>
        <span class="made-by">Made by ElHAIBA RAIGAT</span>
    </nav>
    <div class="chat-container">
        <div id="chat-log"></div>
        <div class="user-info">
            <img class="user-img" src="/static/d.png" alt="User Image">
            <input type="text" id="user-input" placeholder="Type your message...">
            <button id="send-btn">Send</button>
        </div>
    </div>
    <div class="footer">
        For more information, contact <a href="mailto:haibaraigat@outlook.fr">haibaraigat@outlook.fr</a>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
